.wrapper-class {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
  }
  .editor-class {
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .toolbar-class {
    background-color:lightgray;
    border: 1px solid #ccc;
  }
