.language {
  display: inline;
}
.heading {
  font-size: 20px;
}
#source {
  width: 100% !important;
  background: #cccccc52;
  height: 50vh;
  font-size: 15px;
  resize: vertical;
}
#input {
  background: #cccccc52;
  width: 45.6%;
  height: 17vh;
  resize: vertical;
  font-size: 17px;
}
#output {
  background: #cccccc52;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 7.6%;
  font-size: 18px;
  right: 0;
  resize: none;
}
.language {
  width: 150px;
}
hr.solid {
  border-top: 3px solid #bbb;
}
.questionPageDivider {
  border-left: 10px solid #f8f9fa;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.nav-link {
color:#3f3c3ca3;
}

.nav-link:hover {
color:#4f4949cd;
}

.submissons-table {
  overflow-x:auto;
  width: 100%;


}

.submissons-table tr {
  background-color: #ffffffdf;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: .35em;
  margin-top: .75em;
}

.submissons-table td {
  padding: .525em;
  text-align: left;
}

.submissons-table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: .625em;
  text-align: left;
}